!!! 5
html
	head
		title Beauvoir
		meta(name="viewport",content="width = device-height",target="_blank")
		script
			window.actor = !{JSON.stringify(actor.expose())};
			window.context = !{JSON.stringify(context.expose())};
		include includes/scripts
	body
		#wrap

			header

				h1#hat
					a(href="http://gravatar.com/emails/",title="Change your avatar at Gravatar",target="_blank")
						img(src=actor.getGravatar())
					#logo
						include includes/logo
					| eauvoir

				.dd-list
					if availableContexts.length > 1
						#context.dd-wrapper
							#actual.dd-icon(tabindex=0)
								img.avatar(width=16,height=16,src=context.getGravatar(16))
								span.username= context.p('username')
								span &nbsp;
								span.separator.action
									span.to-on &darr;
									span.to-off &uarr;
							#contexts-list.dd-panel
								p Switch context:
								ul.list
									each _context in availableContexts
										- var _username = _context.p('username');
										- var _current = context.id && (context.id === _context.id);
										- var _classname = _current ? 'current' : '';
										li(class=_classname): a(href="/~"+_username)
											strong= _context.p('fullname')
											| 
											em= _username
					#settings.dd-wrapper
						.dd-icon(tabindex=0)
							span &#9881;
						.dd-panel
							p Settings and actions
							ul.actions
								li: a(href="http://gravatar.com/emails/",target="_blank") Change your avatar <small>(at Gravatar.com)</small>
								li: a.unavailable(href="#") Edit your credentials
								- // li: a(href="/context-settings") Edit context settings
								li
									if availableContexts.length > 1
										a.left(href="javascript:$('#actual').click()") Change context
									a.right(href="/logout") Logout

			form#creation.input.b(action="/lol")
				#creation-flexer.flex.f-full
					#creation-left.wrap.flex.f-1
						.flex.f-1.f-full
							.placer
								input#name.h.f(type="text",placeholder="Create new task",autocomplete='off')
						.flex.f-0
							.attributes
								#priority.priority.icon.padded
					#creation-right.wrap.flex.f-0
						if actor.id !== context.id
							.separator.mp_container.mp_full
								.validator.icon: label(for='assign') @
								input#assign.h.small.lockable(type="text",placeholder="Assign (you)",autocomplete='off')
								.icon.delete.reset#reset-due(tabindex=0) &times;
						.separator
							.validator.icon.due: label(for='due',style="position:relative;top:2px;") due
							input#due.h.date.medium.lockable(type="text",placeholder="",autocomplete='off')
							.icon.delete.reset#reset-due(tabindex=0) &times;
						.separator
							button.action.create(type='submit') Create

			ul#tasks.tasks

			#footer-limiter

		include includes/footer

		.hide
			//- Templates
			#single-task-view
				li.task(class="{status} priority-{priority}",tabindex=0)
					.toggle &#10003;
					.archive Archive
					.info
						span.name {name}
						span.assignedTo
							| {#assignedTo}
							span(class="{#closed}closed{/closed}")
								span {username}
							| {/assignedTo}
						| {#due}
						time(datetime="{dueDate}").dueDate {due}
						| {/due}
