!!! 5
html
	head
		title Beauvoir
		meta(name="viewport",content="width = device-height",target="_blank")
		script
			window.actor = !{JSON.stringify(actor.expose())};
			window.context = !{JSON.stringify(context.expose())};
		include includes/scripts
	body
		#wrap

			header

				h1#hat
					a(href="http://gravatar.com/emails/",title="Change your avatar at Gravatar",target="_blank")
						img(src=actor.getGravatar())
					#logo
						include includes/logo
					| eauvoir

				if availableContexts.length > 0

					#context
						#actual(tabindex=0)
							img.avatar(width=16,height=16,src=context.getGravatar(16))
							span.username= context.p('username')
							span &nbsp;
							span.separator.action
								span.to-on &darr;
								span.to-off &uarr;
						#contexts-list
							p Switch context:
							ul
								each _context in availableContexts
									- var _username = _context.p('username');
									- var _current = context.id && (context.id === _context.id);
									- var _classname = _current ? 'current' : '';
									li(class=_classname): a(href="/~"+_username)
										strong= _context.p('fullname')
										| 
										em= _username

			form#creation.input.b(action="/lol")
				#creation-flexer.flex.f-full
					#creation-left.wrap.flex.f-1
						.flex.f-1.f-full
							.placer
								input#name.h.f(type="text",placeholder="Create new task",autocomplete='off')
						.flex.f-0
							.attributes
								#priority.priority.icon.padded
					#creation-right.wrap.flex.f-0
						.separator.mp_container.mp_full
							.validator.icon: label(for='assign') @
							input#assign.h.small.lockable(type="text",placeholder="Assign (you)",autocomplete='off')
							.icon.delete.reset#reset-due(tabindex=0) &times;
						.separator
							.validator.icon.due: label(for='due',style="position:relative;top:2px;") due
							input#due.h.date.medium.lockable(type="text",placeholder="",autocomplete='off')
							.icon.delete.reset#reset-due(tabindex=0) &times;
						.separator
							button.action.create(type='submit') Create

			ul#tasks.tasks

			#footer-limiter

		footer
			div Powered by <a href="https://github.com/yuchi/Beauvoir">Beauvoir</a> 
			div
				small
					| uses 
					a(href="http://nodejs.org") Node.js
					| ,
					a(href="http://redis.io") Redis
					| , 
					a(href="http://maritz.github.com/nohm/") Nohm
					| , 
					a(href="http://expressjs.com/") Express
					| , 
					a(href="http://learnboost.github.com/stylus/") Stylus
					| ,
					a(href="http://jade-lang.com") Jade
					|	and others
			div
				small
					| interface provided with 
					a(href="http://jquery.com") jQuery
					| ,
					a(href="https://github.com/jstayton/jquery-marcopolo") Marco Polo
					| ,
					a(href="http://ethanschoonover.com/solarized") Solarized

		.hide
			//- Templates
			#single-task-view
				li.task(class="{status} priority-{priority}",tabindex=0)
					.toggle &#10003;
					.archive Archive
					.info
						span.name {name}
						span.assignedTo
							| {#assignedTo}
							span(class="{#closed}closed{/closed}")
								span {username}
							| {/assignedTo}
						| {#due}
						time(datetime="{dueDate}").dueDate {due}
						| {/due}
